.address-container {
	.user-data-type-image-container {
		height: 200px;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
	}
	.user-data-type-image {
		padding: 10px;
		height: 200px;
	}
	.user-data-type-text-area {
		cursor: text;
	}
	.input-group,
	.user-data-type-date {
		width: 100%;
	}
	.userDataCardContainer {
		border-color: #ccc;
	}
	.textContainer {
		height: 140px;
	}
	.userDataCardTitle {
		margin-top: 10px;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 2; /* number of lines to show */
		-webkit-box-orient: vertical;
	}
	.userDataCardDescription {
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 3; /* number of lines to show */
		-webkit-box-orient: vertical;
		margin-bottom: 5px;
	}
	.userDataCardAction {
		margin-top: 10px;
	}
}
