.dashboard-page-container {
	padding-top: 100px;
	min-height: 92vh;
	margin: 0;
	display: grid;
	grid-template-columns: minmax(200px, auto) 1fr;
	grid-template-rows: 1fr;
	.dashboard-navigation-container {
		width: 100%;
		display: flex;
		flex-direction: column;
		border-right: 2px solid #999;
		.dashboard-navigation-item {
			padding: 20px;
			display: flex;
			transition: all 0.3s;
			cursor: pointer;
			.dashboard-navigation-item-icon {
				width: max-content;
				margin-right: 10px;
			}
			.dashboard-navigation-item-text {
				vertical-align: baseline;
			}
		}
		.selected {
			background-color: #5e72e4;
			color: #fff;
		}
		.selected:hover {
			background-color: #5e72e4 !important;
			color: #fff !important;
		}
		.dashboard-navigation-item:hover {
			background-color: #ccc;
			color: #000;
		}
	}
	.dashboard-tabs-container {
		flex: 1;
	}
}

.complaints-tab-container {
	margin: 5px;
	.complaints-tab-title {
		padding: 5px;
	}
	.complaints-tab-nav-wrapper {
		margin: 5px;
		padding-bottom: 10px;
		.complaint-tab-nav {
			.complaint-tab-nav-item {
				.complaint-tab-nav-link {
					cursor: pointer;
					color: #5e72e4;
					margin: 0 5px;
					.complaint-tab-nav-link-text-container {
						display: flex;
						justify-content: center;
						align-items: center;
						color: #888;
					}
					.complaint-tab-nav-link-text-container:hover {
						color: #5e72e4;
					}
					.complaint-tab-nav-link-selected {
						color: #ddd !important;
					}
					.complaint-tab-nav-link-selected:hover {
						color: #fff !important;
					}
				}
			}
		}
	}
}

.enquiry-tab-container {
	margin: 5px;
	.enquiry-tab-title {
		padding: 5px;
	}
	.enquiry-tab-list-container {
		margin: 5px;
		.enquiry-tab-list-col-container {
			padding: 0 10px 10px 0;
			.enquiry-tab-list-item-container {
				border: 1px solid #bbb;
				height: 100%;
				border-radius: 4px;
				padding: 10px;
				.enquiry-tab-list-item-message-container {
					display: flex;
					justify-content: space-between;
				}
				.enquiry-tab-list-item-info-container {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					.enquiry-tab-list-item-info-item {
						margin: 0;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 840px) {
	.hidden-mobile {
		display: none !important;
	}
	.dashboard-page-container {
		grid-template-columns: auto 1fr;
	}
	.dashboard-navigation-item-icon {
		margin-right: 0px !important;
	}
	.complaints-tab-nav-wrapper {
		display: flex;
		justify-content: center;
	}
	.complaint-tab-nav-item {
		width: max-content;
		justify-content: center;
	}
}
