.user-photo-placeholder {
	background-color: #fff;
	padding: 10px;
}

.profile-page-content-container {
	margin: 0px !important;
}

.profile-image-n-text-container {
	height: 100%;
	padding: 10px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.profile-image {
	height: 180px;
}

.invisible {
	opacity: 0;
}

.profile-page-section-container {
	width: 90% !important;
}

@media (min-width: 768px) {
	.modal-dialog {
		min-width: 90% !important;
		margin: auto;
	}
}

@media (max-width: 991.98px) {
	.profile-image-n-text-container {
		height: max-content;
		text-align: center;
		align-items: center;
		margin-top: -120px;
	}

	.card-profile {
		margin-top: -250px !important;
	}
}

@media (max-width: 360px) {
	.profile-image {
		height: 120px !important;
	}
	.profile-image-n-text-container {
		margin-top: -100px;
	}
	.profile-page-user-name {
		font-size: 20px;
		margin-bottom: 0px !important;
	}
	.profile-page-email {
		margin-top: 0px !important;
		font-size: 13px;
	}
}
