.show-sm {
	display: none !important;
}

.hide-sm {
	display: flex;
}

.user-details-body {
	min-height: 300px;
	height: max-content;
}

.nav-pill-icon svg {
	font-size: 24px !important;
}

.nav-pill-text {
	display: flex !important;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 18px !important;
}

@media (max-width: 768px) {
	.show-sm {
		display: flex !important;
		justify-content: center;
	}

	.hide-sm {
		display: none !important;
	}
}

@media (max-width: 360px) {
	.nav-pills-circle .nav-link {
		height: 48px !important;
		width: 48px !important;
		line-height: 48px !important;
	}
	.nav-pill-icon svg {
		font-size: 18px !important;
	}
}
