.weekdays-buttons-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	.weekdays-individual-button {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid #172b4d;
		color: #172b4d;
		cursor: pointer;
		&.active {
			background-color: #172b4d;
			color: #fff;
		}
	}
}
