.navbar-link-container {
	cursor: pointer;
	font-size: 20px !important;
	font-weight: 100;
	font-family: Quicksand !important;
}

.nav-brand-icon-and-text-container {
	font-size: 40px !important;
	font-family: 'QuicksandLight';
	min-width: max-content !important;
	font-weight: 100 !important;
	.nav-brand-key-text {
		font-family: 'QuicksandBold';
		margin-left: 8px;
	}
	svg {
		font-size: 55px;
		margin-right: 8px;
	}
}
.navbar-brand:hover {
	color: #ddd !important;
	transition: color 300ms ease;
}

@media (max-width: 991.98px) {
	.navbar-link-container,
	.navbar-link-icon,
	.navbar-link-text {
		color: #5e72e4 !important;
	}
}

.navbar-toggler {
	outline-style: none !important;
}

.brand-icon {
	max-width: 250px;
	max-height: 28px;
}

@media (max-width: 400px) {
	.brand-icon {
		max-width: 180px;
		max-height: 20px;
	}
	.nav-brand-icon-and-text-container {
		font-size: 30px !important;
		font-weight: 100 !important;
		.nav-brand-key-text {
			margin-left: 6px;
		}
		svg {
			font-size: 40px;
			margin-right: 6px;
		}
	}
}

@media (max-width: 320px) {
	.nav-brand-icon-and-text-container {
		font-size: 25px !important;
		.nav-brand-key-text {
			margin-left: 5px;
		}
		svg {
			font-size: 35px;
			margin-right: 5px;
		}
	}
	.navbar-link-text {
		font-size: 18px !important;
	}
}

@media (max-width: 280px) {
	.nav-brand-icon-and-text-container {
		font-size: 20px !important;
		.nav-brand-key-text {
			margin-left: 5px;
		}
		svg {
			font-size: 30px;
			margin-right: 5px;
		}
	}
	.navbar-link-text {
		font-size: 15px !important;
	}
	.collapse-brand {
		padding-right: 3px;
	}
	.collapse-close {
		padding-left: 3px;
	}
}
